In [1]:
import pandas as pd
import numpy as np
import ast
from IPython.display import display

In [2]:
df = pd.read_csv('hypermapper-utility-score-serv_rec_full_nprint_10pkts.txt', sep=';')

In [3]:
max_acc = max(df['Source Accuracy'])
user_thres = [0, 0.01, 0.03, 0.1, 0.3, 1]
src_thres = [max_acc * (1-x) for x in user_thres]
src_thres, user_thres

([0.85651575142021,
  0.8479505939060079,
  0.8308202788776037,
  0.770864176278189,
  0.599561025994147,
  0.0],
 [0, 0.01, 0.03, 0.1, 0.3, 1])

In [4]:
df['Number of Features'] = df['Features'].apply(lambda x: len(ast.literal_eval(x)))

In [5]:
df[df['Source Accuracy']>=src_thres[1]]

,Features,Source Accuracy,Threat Accuracy,Number of Features
384,"[1, 3, 4, 5, 6, 7, 8, 9]",0.849286,0.781718,8
480,"[1, 2, 3, 5, 6, 7, 8, 9]",0.849544,0.781029,8
512,"[1, 2, 3, 4, 5, 6, 7, 8, 9]",0.851954,0.783612,9
640,"[0, 3, 4, 5, 6, 7, 8, 9]",0.849458,0.778361,8
736,"[0, 2, 3, 5, 6, 7, 8, 9]",0.849113,0.785419,8
768,"[0, 2, 3, 4, 5, 6, 7, 8, 9]",0.850577,0.784300,9
895,"[0, 1, 3, 4, 5, 6, 7, 8, 9]",0.854794,0.784128,9
991,"[0, 1, 2, 3, 5, 6, 7, 8, 9]",0.855913,0.789034,9
1023,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",0.856516,0.788346,10

In [6]:
import os
filename = os.path.basename(globals()['__session__'])
results_list = []

for src_t, user_t in zip(src_thres, user_thres):
    # print("Source Accuracy Threshold:", src_t)
    # print(User Threshold:", user_t)
    
    # Filter rows based on source accuracy threshold
    filtered_df = df[df['Source Accuracy'] >= src_t]
    
    # Find the lowest threat accuracy
    min_threat_accuracy = filtered_df['Threat Accuracy'].min()
    
    # Filter rows with similar threat accuracy (<1% difference)
    similar_threat_rows = filtered_df[
        (filtered_df['Threat Accuracy'] >= min_threat_accuracy) & 
        (filtered_df['Threat Accuracy'] <= min_threat_accuracy * 1.01)
    ]
    
    # Find the row with the minimum number of features among these rows
    # min_feats = similar_threat_rows['Number of Features'].min()
    # result = similar_threat_rows[similar_threat_rows['Number of Features'] <= min_feats+1]
    
    # Sort and select the row with minimum threat accuracy
    selected_row = similar_threat_rows.sort_values(by='Threat Accuracy').iloc[0]
    
    # Append result to list
    results_list.append([
        user_t,
        selected_row['Source Accuracy'],
        selected_row['Threat Accuracy'],
        selected_row['Number of Features']
    ])

columns = ['Threshold', 'Source Accuracy', 'Threat Accuracy', f"# Features (Max {max(df['Number of Features'])})"]
result_df = pd.DataFrame(results_list, columns=columns)
result_df.to_csv(filename + '.csv', index=False)

In [7]:
for src_t in src_thres:
    print("Source Accuracy Threshold:", src_t)
    min_feats = min(df[df['Source Accuracy']>=src_t]['Number of Features'])
    display(df[(df['Source Accuracy']>=src_t) & (df['Number of Features']==min_feats)].sort_values(by='Threat Accuracy'))

Source Accuracy Threshold: 0.85651575142021

,Features,Source Accuracy,Threat Accuracy,Number of Features
1023,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",0.856516,0.788346,10

Source Accuracy Threshold: 0.8479505939060079

,Features,Source Accuracy,Threat Accuracy,Number of Features
640,"[0, 3, 4, 5, 6, 7, 8, 9]",0.849458,0.778361,8
480,"[1, 2, 3, 5, 6, 7, 8, 9]",0.849544,0.781029,8
384,"[1, 3, 4, 5, 6, 7, 8, 9]",0.849286,0.781718,8
736,"[0, 2, 3, 5, 6, 7, 8, 9]",0.849113,0.785419,8

Source Accuracy Threshold: 0.8308202788776037

               Features  Source Accuracy  Threat Accuracy  Number of Features
604  [0, 3, 5, 6, 8, 9]         0.830866         0.765622                   6

Source Accuracy Threshold: 0.770864176278189

            Features  Source Accuracy  Threat Accuracy  Number of Features
118  [3, 4, 5, 7, 9]         0.771647         0.714839                   5
214  [2, 3, 5, 7, 9]         0.771217         0.716388                   5
328  [1, 3, 7, 8, 9]         0.778878         0.721208                   5
56   [4, 5, 7, 8, 9]         0.772250         0.721553                   5
104  [3, 4, 7, 8, 9]         0.774316         0.722155                   5
152  [2, 5, 7, 8, 9]         0.771045         0.723446                   5
110  [3, 4, 6, 7, 9]         0.780255         0.724049                   5
206  [2, 3, 6, 7, 9]         0.783267         0.724307                   5
334  [1, 3, 6, 7, 9]         0.777587         0.725340                   5
200  [2, 3, 7, 8, 9]         0.776123         0.725426                   5
280  [1, 5, 7, 8, 9]         0.776381         0.725684                   5
536  [0, 5, 7, 8, 9]         0.776726         0.725943                   5
584  [0, 3, 7, 8, 9]         0.776984         0.725943                   5
590  [0, 3, 6, 7, 9]         0.775607         0.726201                   5
62   [4, 5, 6, 7, 9]         0.779480         0.726889                   5
122  [3, 4, 5, 6, 9]         0.788862         0.728525                   5
286  [1, 5, 6, 7, 9]         0.776898         0.728697                   5
116  [3, 4, 5, 8, 9]         0.780857         0.728783                   5
94   [3, 5, 6, 7, 9]         0.790756         0.729558                   5
158  [2, 5, 6, 7, 9]         0.780169         0.729558                   5
346  [1, 3, 5, 6, 9]         0.785075         0.729730                   5
218  [2, 3, 5, 6, 9]         0.789895         0.730504                   5
542  [0, 5, 6, 7, 9]         0.777759         0.731537                   5
340  [1, 3, 5, 8, 9]         0.782148         0.731882                   5
212  [2, 3, 5, 8, 9]         0.781804         0.733001                   5
596  [0, 3, 5, 8, 9]         0.779910         0.733087                   5
602  [0, 3, 5, 6, 9]         0.785677         0.733345                   5
48   [4, 6, 7, 8, 9]         0.770959         0.735238                   5
88   [3, 5, 7, 8, 9]         0.789551         0.735497                   5
272  [1, 6, 7, 8, 9]         0.776812         0.736616                   5
144  [2, 6, 7, 8, 9]         0.771131         0.737648                   5
528  [0, 6, 7, 8, 9]         0.776640         0.739370                   5
108  [3, 4, 6, 8, 9]         0.790498         0.742210                   5
332  [1, 3, 6, 8, 9]         0.795662         0.745309                   5
204  [2, 3, 6, 8, 9]         0.790756         0.745395                   5
588  [0, 3, 6, 8, 9]         0.795318         0.745739                   5
80   [3, 6, 7, 8, 9]         0.799879         0.746772                   5
156  [2, 5, 6, 8, 9]         0.793338         0.748235                   5
60   [4, 5, 6, 8, 9]         0.791444         0.748235                   5
284  [1, 5, 6, 8, 9]         0.795490         0.749871                   5
32   [5, 6, 7, 8, 9]         0.795232         0.749871                   5
540  [0, 5, 6, 8, 9]         0.797125         0.750215                   5
92   [3, 5, 6, 8, 9]         0.803753         0.751851                   5

Source Accuracy Threshold: 0.599561025994147

      Features  Source Accuracy  Threat Accuracy  Number of Features
38   [4, 7, 9]         0.603288         0.573851                   3
134  [2, 7, 9]         0.604493         0.578929                   3
262  [1, 7, 9]         0.605096         0.582544                   3
50   [4, 5, 9]         0.613703         0.588397                   3
518  [0, 7, 9]         0.601739         0.588569                   3
98   [3, 4, 9]         0.615252         0.589344                   3
194  [2, 3, 9]         0.612584         0.590807                   3
146  [2, 5, 9]         0.614133         0.593303                   3
322  [1, 3, 9]         0.610260         0.595455                   3
578  [0, 3, 9]         0.608625         0.596488                   3
530  [0, 5, 9]         0.611121         0.598726                   3
36   [4, 8, 9]         0.627130         0.602772                   3
274  [1, 5, 9]         0.611895         0.604149                   3
260  [1, 8, 9]         0.626184         0.606989                   3
132  [2, 8, 9]         0.627819         0.607678                   3
516  [0, 8, 9]         0.625237         0.608108                   3
522  [0, 6, 9]         0.623343         0.626270                   3
266  [1, 6, 9]         0.630573         0.627302                   3
42   [4, 6, 9]         0.629368         0.629282                   3
138  [2, 6, 9]         0.631004         0.632639                   3
71   [3, 7, 8]         0.632553         0.641246                   3
70   [3, 7, 9]         0.669564         0.644603                   3
22   [5, 7, 9]         0.660613         0.645034                   3
8    [7, 8, 9]         0.671716         0.651231                   3
23   [5, 7, 8]         0.631606         0.651489                   3
83   [3, 5, 8]         0.634791         0.652006                   3
82   [3, 5, 9]         0.662506         0.655104                   3
68   [3, 8, 9]         0.681443         0.661646                   3
15   [6, 7, 8]         0.640816         0.662162                   3
14   [6, 7, 9]         0.678860         0.663367                   3
20   [5, 8, 9]         0.684541         0.663798                   3
75   [3, 6, 8]         0.656395         0.668790                   3
27   [5, 6, 8]         0.659236         0.671200                   3
74   [3, 6, 9]         0.682906         0.672835                   3
26   [5, 6, 9]         0.695903         0.676106                   3
12   [6, 8, 9]         0.694612         0.684972                   3

Source Accuracy Threshold: 0.0

  Features  Source Accuracy  Threat Accuracy  Number of Features
1       []          0.00001              1.0                   0